In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgres://DSI8:p3c1341f0f241ef04befd0f0b3acc0365eb30839b9408f9a9b3278d96966f34b8@ec2-34-202-213-35.compute-1.amazonaws.com:5432/dc5rooirs71hh0')
sql = """
SELECT *
FROM restaurants
"""
df = pd.read_sql_query(sql, engine)
df.head()

,id,name,created_at,updated_at
0,1,A&W Restaurants,2017-04-17 19:43:26.708904,2017-04-17 19:43:26.708904
1,2,Applebee's,2017-04-17 19:43:30.306405,2017-04-17 19:43:30.306405
2,3,Arby's,2017-04-17 19:43:35.190138,2017-04-17 19:43:35.190138
3,4,Atlanta Bread Company,2017-04-17 19:43:38.028008,2017-04-17 19:43:38.028008
4,5,Bojangle's Famous Chicken 'n Biscuits,2017-04-17 19:43:42.123451,2017-04-17 19:43:42.123451